*{
   margin: 10px;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    
  background-image: url("https://picsum.photos/2000/800");
  background-size:cover;
  min-height: 25rem;
  margin-top: -10px;
}

.nav{
    
    background-color: hsl(237, 59%, 47%);
    min-height: 3rem;
    border-bottom: 1rem solid hsl(237,59%,16%);
}

.anoline {
    
    font-size: 2rem;
    padding-right: 7rem;
    padding-left: 2rem;
    font-family: sans-serif;
    color: hsl(237,100%,100%);
    text-decoration: none;
}

.aline {
    
    font-size: 2rem;
    padding-right: 7rem;
    padding-left: 2rem;
    font-family: sans-serif;
    color: hsl(237,100%,100%);
}


.fullname{
    
    font-size: 8rem;
    text-align: left;
    font-family: sans-serif;
    color: hsl(237,85%,21%);
    padding-left: 2rem;
    padding-top: 2rem;    
}

.username{
  font-size: 5rem;
  color: hsl(237, 20%, 65%);
    text-align: left;
    font-family: sans-serif;
    padding-left: 2rem;
}

.paraheading{
  font-size: 3rem;
  color: hsl(237, 50%, 50%);
  font-family: sans-serif;
  box-sizing: border-box;
    padding-left: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.listheading{
  font-size: 1.5rem;
  color: hsl(237, 50%, 50%);
font-family: sans-serif;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
}

.para{
    font-size:1rem;
    font-family: sans-serif;
    text-align: left;
    line-height: 1.5;
    padding-left: 2rem;
    padding-bottom: 1rem;
}

.list1{
    font-size:1rem;
    font-family: sans-serif;
    text-align: left;
    line-height: 1.5;
    padding-left: 2rem;
}